// Publications

.pubs {
  @include mainFont(400);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  margin: auto;
  width: 70%;
  padding-top: rem(80px);

  
}

.pubitem {
    margin: 2em 0;
    line-height: 1em;
    
    .pubtitle {
        margin-bottom: .5em;
        line-height: 1.2em;
        font-weight: bold;
      }
      
    .pubauthors, .pubinfo {
        font-size: 75%;
        margin-bottom: .75em;
      }

      .pubteaser {
        clear: both;
      }
      
      .pubteaser a {
        float: left;
        margin-right: 2em;
      }
      
      .pubteaser img {
        width: 100px;
        border: 1px solid black;
      }
      .publinks {
        font-size: 75%;

        a {
          background-color: white;
          color: black;
          padding: 5px;
          text-decoration: none;
          border: 1px solid black;
          }
          a:hover {
          background-color: #836EAA;
          color: white;
          
          }
        i {
          padding-right: 5px;
        }
        
      }

      
        
  }
  