<div class="investigator__wrapper">
       <div class="investigator__thumb">
              <img src="{{.img | relURL}}" alt="image here">
       </div>
       <p>{{.name}}<br>
              <b>{{.title}}</b>
       </p>
       <p>{{.description}}</p>
       {{if .profile}}
        <a style="color: #4E2A84; margin-top: 0.5rem; border-bottom: 1px dotted #B6ACD1;" 
           href={{.profile}}>Profile page</i></a>
       {{end}}
       {{if .email}}
        <a style="color: #4E2A84; margin-top: 0.5rem; border-bottom: 1px dotted #B6ACD1;" 
           href={{.email}}>Email</i></a>
       {{end}}
</div>