{{ with .Site.GetPage "/" }}
    <!--------- Offcanvas area start --------->
    <div class="offcanvas-area">
        <div class="menu-close">
            <i class="far fa-times"></i>
        </div>
        <div class="offcanvas-menu">
            <div class="main-menu">
                <ul class="d-block">
                    <li><a href={{"#home" | relURL}} class="active">Home</a></li>
                    <li><a href={{"#about" | relURL}}>About</a></li>
                    <li><a href={{"#news" | relURL}}>News</a></li>
                    <li><a href={{"#grants" | relURL}}>Grants</a></li>
                    <li><a href={{"#projects" | relURL}}>Projects</a></li>
                    <li><a href={{"#research" | relURL}}>Research</a></li>
                    <li><a href={{"#people" | relURL}}>People</a></li>
                    <li><a href={{"#FAQ" | relURL}}>FAQ</a></li>
                    <li><a href={{"#contacts" | relURL}}>Contact</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="offcanvas-overlay"></div>
    <!--------- Offcanvas area end --------->

    <!--------- Header area start --------->
    <div class="header__area  wow fadeInDown" data-wow-duration="1100ms" data-wow-delay="400ms">
        <div class="logo__main">
            <!-- Logo with href "../../#home" meant to return user to homepage from anywhere on site -->
            <!-- If homepage link causing issues, revert to blank -->
            <a href="../../#home"><img src={{"/img/logo-main.svg" | relURL}} alt=""></a>
        </div>
        <div class="main__menu">
            <ul>
                <li><a href={{"#home" | relURL}} class="active">Home</a></li>
                <li><a href={{"#about" | relURL}}>About</a></li>
                <li><a href={{"#news" | relURL}}>News</a></li>
                <li><a href={{"#grants" | relURL}}>Grants</a></li>
                <li><a href={{"#projects" | relURL}}>Projects</a></li>
                <li><a href={{"#research" | relURL}}>Research</a></li>
                <li><a href={{"#people" | relURL}}>People</a></li>
                <li><a href={{"#FAQ" | relURL}}>FAQ</a></li>
                <li><a href={{"#contacts" | relURL}}>Contact</a></li>
            </ul>
        </div>
        <div class="menu-open">
            <i class="far fa-align-right"></i>
        </div>
    </div>
{{end}}