<div id="research" class="publications__area">
    <div class="container">
        <h2 class="publication__title wow fadeInUp" data-wow-duration="1100ms" data-wow-delay="400ms">Publications</h2>
        <div class="publications__wrapper  wow fadeInUp" data-wow-duration="1100ms"
        data-wow-delay="400ms">
        {{ with .Site.GetPage "/publications" }}
            {{range (cond ((eq ($.Scratch.Get "fullList") true)) .Pages.ByDate.Reverse (first 7 .Pages.ByDate.Reverse)) }}
                <div class="single__publication__item">
                    <div class="publication__date">
                        {{.Date.Format "01/02/2006"}}
                    </div>
                    <div style="width: 70%;">
                        <div style="display:flex; justify-content:space-between; ">
                            <div class="publication__content">
                                <p>{{.Title}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="publication__btns" style="justify-content: flex-end">
                        {{if (eq .Params.has_github_link true)}}
                            <a href={{.Params.github_link}}><img src={{"/img/git.svg" | relURL}} alt=""></a>
                        {{end}}
                        <a href={{.RelPermalink }} class="pbtn"><i class="far fa-long-arrow-right"></i></a>
                    </div>
                </div>
            {{ end }}
        {{ end }}
        </div>
        <div class="recent__news__btn text-center w-100  wow fadeInUp" data-wow-duration="1100ms"
        data-wow-delay="400ms">
            <a href={{"/publications" | relURL}}>View all Publications <i class="far fa-long-arrow-right"></i></a>
        </div>
    </div>
</div>