<div id="grants" class="grant__area">
       <div class="container">
           <div class="grant__title  wow fadeInUp" data-wow-duration="1100ms" data-wow-delay="400ms">
               <div class="row">
                   <div class="col-md-6 col-lg-7">
                       <h3>Grants</h3>
                   </div>
                   <div class="col-md-6 col-lg-5">
                       <p>Our work is the bridge to various insightful
                           digital experiences. Check our work below for featured.</p>
                   </div>
               </div>
           </div>
           <div class="sh  wow fadeInLeft" data-wow-duration="1100ms" data-wow-delay="400ms">
               <img src={{"/img/spp.png" | relURL}} alt="">
           </div>
           <div class="grant__items__wrapper position-relative  wow fadeInUp" data-wow-duration="1100ms"
               data-wow-delay="400ms">
               {{$number_of_grants_shown := .Params.number_of_grants_shown}}
               {{ with .Site.GetPage "/grants" }}
                   {{range (first (6) .Pages.ByDate)}}
                       <div class="grant__item">
                           <div class="grant__item__thumb">
                               <img src={{(.Params.logo_image) | relURL}} alt="">
                           </div>
                           <div class="grant__item__content">
                               <a href="{{.RelPermalink }}">{{.Title}}</a>
                               <p>{{.Params.funding_amount}} / PI: {{.Params.primary_investigator.name}} / {{.Params.start_year}} - {{.Params.end_year}}</p>
                           </div>
                       </div>
                   {{ end }}
               {{ end }}
           </div>
           <div class="recent__news__btn text-center w-100  wow fadeInUp" data-wow-duration="1100ms"
               data-wow-delay="400ms">
               <a href="">View all grants <i class="far fa-long-arrow-right"></i></a>
           </div>
       </div>
   </div>