---
layout: page
description: Template for team page
---

<h2>MEET THE TEAM</h2>
    <div class="team-grid">
      {% for member in site.authors %}
      <div class="member-box">
          <img class="fa fa-4x text-primary" src="{{ member.photo | relative_url }}" alt="{{ member.name }}">
          <h3 class="h4 mb-2">{{ member.display_name }}</h3>
          <!-- <p class="text-white-50 mb-0">{{ member.role }}</p> -->
        <div class="team-text">            
            {% if member.position %}
            <div class="role">
              <small class="text-muted">| {{ member.position }}</small>
            </div>
            {% endif %}
            {% if member.bio %}
            <div>
               <small class="text-muted">{{ member.bio | markdownify }}</small>
            </div>
            {% endif %}
            <section class="author">
              <div class="details">            
            
                <p>
                  {% if member.github_username %}
                    <a href="https://github.com/{{ site.github_username }}" title="Github">
                      <svg><use xlink:href="#icon-github"></use></svg>
                    </a>
                  {% endif %}
                  {% if member.facebook_username %}
                    <a href="https://www.facebook.com/{{ site.facebook_username }}" title="Facebook">
                      <svg><use xlink:href="#icon-facebook"></use></svg>
                    </a>
                  {% endif %}
                  {% if member.twitter_username %}
                    <a href="https://twitter.com/{{ site.twitter_username }}" title="Twitter">
                      <svg><use xlink:href="#icon-twitter"></use></svg>
                    </a>
                  {% endif %}
                  {% if member.medium_username %}
                    <a href="https://medium.com/@{{ site.medium_username }}" title="Medium">
                      <svg><use xlink:href="#icon-medium"></use></svg>
                    </a>
                  {% endif %}
                  {% if member.instagram_username %}
                    <a href="https://www.instagram.com/{{ site.instagram_username }}" title="Instagram">
                      <svg><use xlink:href="#icon-instagram"></use></svg>
                    </a>
                  {% endif %}
                  {% if member.linkedin_username %}
                    <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="LinkedIn">
                      <svg><use xlink:href="#icon-linkedin"></use></svg>
                    </a>
                  {% endif %}
                </p>
              </div>
            </section>

<!--            
            <ul class="list-inline">
            {% if member.orcid %}
            <li class="list-inline-item">
              <a href="https://orcid.org/{{ member.orcid }}"><img class="orcid" src="{{ '/assets/theme/img/orcid.png' | relative_url }}"></a>
            </li>
            {% endif %}

            {% if member.email %}
            <li class="list-inline-item">
              <a href="mailto:{{ member.email }}"><i class="fa fa-envelope"></i></a>
            </li>
            {% endif %}

            {% if member.twitter_username %}
            <li class="list-inline-item">
              <a href="https://twitter.com/{{ member.twitter }}"><i class="fa fa-twitter"></i></a>
            </li>
            {% endif %}

            {% if member.github_username %}
            <li class="list-inline-item">
              <a href="https://github.com/{{ member.github }}"><i class="fa fa-github"></i></a>
            </li>
            {% endif %}
          </ul> -->
        </div>
      </div>
      {% endfor %}
    </div>


  {{content }}

  <h2>COLLABORATORS</h2>
  <!-- {% for member in site.data.team %}
  <div class="media team-member">
    <img class="mr-3" src="{{ member.image | relative_url }}">
    <div class="media-body">
      <div class="team-text">
      <h5 id="{{ member.name | strip | url_encode }}">
        {{ member.name }}
        {% if member.role %}
        <div class="role">
          <small class="text-muted">| {{ member.role }}</small>
        </div>
        {% endif %}
      </h5> -->
      <!-- <div id="description-text"> -->
        <!-- {{ member.description | markdownify }} -->
      <!-- </div> -->
    <!-- </div>
      <ul class="list-inline">
        {% if member.orcid %}
        <li class="list-inline-item">
          <a href="https://orcid.org/{{ member.orcid }}"><img class="orcid" src="{{ '/assets/theme/img/orcid.png' | relative_url }}"></a>
        </li>
        {% endif %}

        {% if member.email %}
        <li class="list-inline-item">
          <a href="mailto:{{ member.email }}"><i class="fa fa-envelope"></i></a>
        </li>
        {% endif %}

        {% if member.twitter %}
        <li class="list-inline-item">
          <a href="https://twitter.com/{{ member.twitter }}"><i class="fa fa-twitter"></i></a>
        </li>
        {% endif %}

        {% if member.github %}
        <li class="list-inline-item">
          <a href="https://github.com/{{ member.github }}"><i class="fa fa-github"></i></a>
        </li>
        {% endif %}
      </ul>
    </div>
</div>
{% endfor %} -->

  <h2>FORMER STUDENT</h2>
  <!-- {% for member in site.data.team %}
      <div class="media team-member">
        <img class="mr-3" src="{{ member.image | relative_url }}">
        <div class="media-body">
          <div class="team-text">
          <h5 id="{{ member.name | strip | url_encode }}">
            {{ member.name }}
            {% if member.role %}
            <div class="role">
              <small class="text-muted">| {{ member.role }}</small>
            </div>
            {% endif %}
          </h5> -->
          <!-- <div id="description-text"> -->
            <!-- {{ member.description | markdownify }} -->
          <!-- </div> -->
        <!-- </div>
          <ul class="list-inline">
            {% if member.orcid %}
            <li class="list-inline-item">
              <a href="https://orcid.org/{{ member.orcid }}"><img class="orcid" src="{{ '/assets/theme/img/orcid.png' | relative_url }}"></a>
            </li>
            {% endif %}

            {% if member.email %}
            <li class="list-inline-item">
              <a href="mailto:{{ member.email }}"><i class="fa fa-envelope"></i></a>
            </li>
            {% endif %}

            {% if member.twitter %}
            <li class="list-inline-item">
              <a href="https://twitter.com/{{ member.twitter }}"><i class="fa fa-twitter"></i></a>
            </li>
            {% endif %}

            {% if member.github %}
            <li class="list-inline-item">
              <a href="https://github.com/{{ member.github }}"><i class="fa fa-github"></i></a>
            </li>
            {% endif %}
          </ul>
        </div>
    </div>
    {% endfor %} -->
</div>
